#hero {
  background: url("https://res.cloudinary.com/adgranmous/image/upload/v1617012980/Background_wkr0pt.png");
  background-size: cover;
  position: relative;
}

hr.solid {
  border-top: 10px solid #bbb;
}

.home-btn {
  margin: auto;
  display: block;
}

.center-ads {
  margin: auto;
  display: block;
}

.dashboard_offer:hover {
  background-color: #f5f5f5;
}


#img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}
/* 
.bg {
  background-color: black;
} */


.clicked {
  cursor: pointer;
}